  
.main-header {
    padding: 15px;
    background-color: #52616f;
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 4px 0px cadetblue;
    color:#d9ecff;
}

a{
    color: #d9ecff;
    text-decoration: none;
}
a:hover{
    opacity: 0.85;
}

.navbar-brand {  
    margin-left: 43px
}

mat-icon:hover{
    cursor: pointer;
    opacity: 0.85;
}

@media (max-width: 992px) {
    .nav-item {
        margin-left: 43px
    }
}
