  
.main-header {
    padding: 15px;
    background-color: #52616f;
    position: fixed;
    width: 100%;
    z-index: 3000000000;
}

a{
    color: #f0a500;
}

.navbar-brand {  
    margin-left: 43px
}

@media (max-width: 992px) {
    .nav-item {
        margin-left: 43px
    }
  }