/* You can add global styles to this file, and also import other style files */
.main {
    background-color: #333333;
    margin: 0px;
    height: 100vh;
}
html {
    overflow-x: hidden;
}

.card-detail{
    max-width: 300px;
    color: #262626;
    background-color: white;
    box-shadow: 0px 0px 11px -2px cadetblue;
}   