/* You can add global styles to this file, and also import other style files */
.main {
    background-color: #333333;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.container{
    width: calc(100%-300px);
    padding: 50px 20px 50px 10px;
}