.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  @media (max-width: 1500px) {
    .box{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media (max-width: 1200px) {
    .box{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 900px) {
    .box{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .box{
      grid-template-columns: 1fr;
    }
  }