<div style="justify-content:center; display:flex">
    <mat-card class="card-detail">
        <mat-card-header>       
            <mat-card-title>            
                <a [routerLink]="['/comic/idComic', comic.id]" class="comic">{{ comic.title }}</a>  
            </mat-card-title>
        </mat-card-header>
        <img [routerLink]="['/comic/idComic', comic.id]" mat-card-image [src]="comic.thumbnail.path+'.'+comic.thumbnail.extension" alt="">
        <mat-card-content>
         
        </mat-card-content>
    </mat-card>
</div>
