<div style="justify-content:center; display:flex">
    <mat-card class="card-detail">
        <mat-card-header>       
            <mat-card-title><b>{{ characterDetail.title }}</b></mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="characterDetail.thumbnail.path + '.' + characterDetail.thumbnail.extension" alt="">
        <mat-card-content>           
            <a style="float: right;" [routerLink]="['/character']" href=""> << Voltar</a>
        </mat-card-content>
    </mat-card>
</div>

