<div style="justify-content:center; display:flex">
    <mat-card class="card-detail">
        <mat-card-header>       
            <mat-card-title><b>{{ movieDetail.title }}</b></mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movieDetail.poster_path" alt="">
        <mat-card-content>
            <p>
                {{ movieDetail.overview }}
            </p>
            <p>
                <b>Original title:</b> {{movieDetail.original_title}}<br/>
                <b>Votes:</b> {{movieDetail.vote_count}}<br/>
                <b>Popularidade:</b> {{movieDetail.popularity}}
                </p>
            <a style="float: right;" [routerLink]="['/']" href=""> << Voltar</a>
        </mat-card-content>
    </mat-card>
</div>
