.card-detail{
    max-width: 300px;
    color: #262626;
    background-color: #7a7a7a;
}

p{
    color: #262626;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
    text-decoration: underline;
    cursor: pointer;
}