<div style="justify-content:center; display:flex">
    <mat-card class="card-detail">
        <mat-card-header>       
            <mat-card-title>            
                <a [routerLink]="['/character/idCharacter', character.id]" class="character">{{ character.name }}</a>  
            </mat-card-title>
        </mat-card-header>
        <img [routerLink]="['/character/idCharacter', character.id]" mat-card-image [src]="character.thumbnail.path+'.'+character.thumbnail.extension" alt="">
        <mat-card-content>
         
        </mat-card-content>
    </mat-card>
</div>
